@model List<BookStore.WebUI.Dtos.CategoryDtos.ResultCategoryDto>

<section id="popular-books" class="bookshelf py-5 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-header align-center">
					<div class="title">
						<span>Festina lente </span>
					</div>
					<h2 class="section-title">Ürün Seçimi</h2>
				</div>

				<ul class="tabs">
					@foreach (var category in Model.Select(p => p.CategoryName).Distinct())
					{
						<li data-tab-target="#@category.Replace(" ", "-").ToLower()" class="tab">@category</li>
					}
				</ul>

				<div class="tab-content">
					@foreach (var category in Model.Select(p => p.CategoryName).Distinct())
					{
						<div id="@category.Replace(" ", "-").ToLower()" class="tab-pane">
							<h2>@category Kitapları</h2>
							<ul class="product-list">
								@foreach (var product in Model.Where(p => p.CategoryName == category))
								{
									<div class="col-md-3 ">
																
									
										 <div class="product-item "> 
											<figure class="product-style">
												<img src="@product.ProductImageUrl" alt="Book" class="product-item" width="10" height="20">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											 </figure> 
											<figcaption>
												<h3>@product.ProductName</h3>
												<span>@product.ProductWriterName</span>
												<div class="item-price">$ @product.ProductPrice</div>
											</figcaption>
										</div>
									</div>
									
								}
							</ul>
						</div>
					}
				</div>

			</div>
		</div>
	</div>
</section>

<script>
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-pane');

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            // Tüm tab'ları geçersiz hale getir
            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');

            // Tüm içerikleri geçersiz hale getir
            tabContents.forEach(content => content.classList.remove('active'));
            const target = document.querySelector(tab.getAttribute('data-tab-target'));
            target.classList.add('active');
        });
    });

    // Sayfa yüklendiğinde ilk tab'ı aktif et
    if (tabs.length > 0) {
        tabs[0].click();
    }
</script>


@* 







































							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item2.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Once upon a time</h3>
										<span>Klien Marry</span>
										<div class="item-price">$ 35.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item3.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Tips of simple lifestyle</h3>
										<span>Bratt Smith</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item4.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Just felt from outside</h3>
										<span>Nicole Wilson</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

						</div>
						<div class="row">

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item5.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Peaceful Enlightment</h3>
										<span>Marmik Lama</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item6.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Great travel at desert</h3>
										<span>Sanchit Howdy</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item7.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item8.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

						</div>

					</div>
					<div id="business" data-tab-content>
						<div class="row">
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item2.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Peaceful Enlightment</h3>
										<span>Marmik Lama</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item4.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Great travel at desert</h3>
										<span>Sanchit Howdy</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item6.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item8.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

						</div>
					</div>

					<div id="technology" data-tab-content>
						<div class="row">
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item1.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Peaceful Enlightment</h3>
										<span>Marmik Lama</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item3.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Great travel at desert</h3>
										<span>Sanchit Howdy</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item5.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item7.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>
						</div>
					</div>

					<div id="romantic" data-tab-content>
						<div class="row">
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item1.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Peaceful Enlightment</h3>
										<span>Marmik Lama</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item3.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Great travel at desert</h3>
										<span>Sanchit Howdy</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item5.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item7.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>
						</div>
					</div>

					<div id="adventure" data-tab-content>
						<div class="row">
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item5.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item7.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>
						</div>
					</div>

					<div id="fictional" data-tab-content>
						<div class="row">
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item5.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Life among the pirates</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>

							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="~/booksaw/images/tab-item7.jpg" alt="Books" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
											Add to
											Cart
										</button>
									</figure>
									<figcaption>
										<h3>Simple way of piece life</h3>
										<span>Armor Ramsey</span>
										<div class="item-price">$ 40.00</div>
									</figcaption>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div><!--inner-tabs--> *@
