@model List<BookStore.WebUI.Dtos.ProductsDtos.ResultProductDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Ürün Açıklması</th>
            <th>Ürün Görseli</th>
            <th>Ürün Yazar</th>
            <th>Ürün stok</th>
            <th>Ürün fiyat</th>

            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductDescription</td>
                <td>
                    <img src="@item.ProductImageUrl" alt="@item.ProductName" style="width: 95px; max-height: 100px;" />
                </td>
                <td>@item.ProductWriterName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice</td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>

            </tr>
        }

    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">Yeni ürün Girişi</a>

</div>

