@using BookStore.WebUI.Dtos.FeatureDtos
@model CreateFeatureDto
@{
    ViewData["Title"] = "AddFeature";
}

<h1>Öne Çıkan Kitapları ekleme</h1>

<div class="container">
    <form method="post" asp-action="AddFeature">
        <div class="form-group">
            <label for="BookName">Kitap Adı</label>
            <input type="text" class="form-control" id="BookName" name="BookName" value="@Model.BookName" required />
        </div>

        <div class="form-group">
            <label for="WriterName">Yazar Adı</label>
            <input type="text" class="form-control" id="WriterName" name="WriterName" value="@Model.WriterName" required />
        </div>

        <div class="form-group">
            <label for="Description">Açıklama</label>
            <textarea class="form-control" id="Description" name="Description" rows="4" required>@Model.Description</textarea>
        </div>

        <div class="form-group">
            <label for="ImageUrl">Görsel URL</label>
            <input type="url" class="form-control" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" required />
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>

        <a href="@Url.Action("FeatureList", "Feature")" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>
